/*Sütun düzeni belirleme*/
.grid-temp-c{
  display: grid;
  grid-template-columns: auto auto auto;
  /*ya da*/
  grid-template-columns: 400px auto 400px;
  /*ya da*/
  grid-template-columns: 30% 50% 20%;
  /*satırı 12 eşit sütuna bölecek*/
  grid-template-columns: repeat(12, 1fr);
}
/*Satır düzeni belirleme*/
.grid-auto-r{
    grid-auto-rows: 100px;  
    /*satır içeriğine göre değişken veya en az satır yüksekliği 100px olarak belirler.*/
    grid-auto-rows: minmax(100px, auto);
}

/*Boşluk belirleme*/
.grid-c-gap{
    grid-column-gap: 50px;
}
.grid-r-gap{
    grid-row-gap: 20px;
}
.grid-gap{
    /*ikisini aynı anda*/
    grid-gap: 20px 50px;
}

/*Sütun konumlandırma*/
/*div:nth-child()*/
.grid-c-start{
    grid-column-start: 1;
}
.grid-c-end{
    grid-column-end: 3;
}
.grid-c{
    grid-column: 1 / 3;
}

/*Satır konumlandırma*/
/*div:nth-child()*/
.grid-r-start{
    grid-row-start: 1;
}
.grid-r-end{
    grid-row-end: 3;
}
.grid-r{
    grid-row: 1 / 3;
}
/*Satır ve sütun konumlandırma  birlikte*/
.grid-area{
    grid-area: 1 / 3 / 1 / 3;
}

